<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 100m 달리기 아래는 달리기 성적 기록이다. 이때 9초 이상 11초 미만 합격, 11초 이상 13초 미만 재시험, 13초 초과 불합격을 프린트하시오

* input을 활용해 만들기
* 9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5

In [ ]:
r = float(input())
if r >=9 and r<11:
  print("합격")
elif r >=11 and r<13:
  print("재시험")
elif r >13:
  print("불합격")
else:
  print("시간을 입력해주세요")

12.5
재시험

In [ ]:
run = [9,10,11,12,15,25,13,12,9.5,10.6,11.2,9.5]
for i in run:
  if i >=9 and i<11:
    print("합격")
  elif i >=11 and i<13:
    print("재시험")
  elif i >13:
    print("불합격")
  else:
    print("시간을 입력해주세요")

합격
합격
재시험
재시험
불합격
불합격
시간을 입력해주세요
재시험
합격
합격
재시험
합격

합격
합격
재시험
재시험
불합격
불합격
시간을 입력해주세요
재시험
합격
합격
재시험
합격

##짜장면 : 10,000원, 짬뽕 : 11,000원, 탕수육 22,000원, 볶음밥 : 9,000원을 딕셔너리 형태로 저장하고 메뉴 이름과 금액을 각각 다른 리스트에 저장해 두 개의 리스트로 만들어서 프린트하시오(for 문 사용)

In [ ]:
menu={"짜장면" : 10000, "짬뽕" : 11000, "탕수육" : 22000, "볶음밥" : 9000}

a=[]
b=[]
for i,j in menu.items():
  a.append(i)
  b.append(j)

print(a)
print(b)

['짜장면', '짬뽕', '탕수육', '볶음밥']
[10000, 11000, 22000, 9000]

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(리스트를 활용해 문제해결)

In [ ]:
451total=[]
for i in range(1,11):
  c =  input(("{}번 학생의 주문 :").format(i))
  if c == "짜장면":
    total.append(b[0])
  elif c == "짬뽕":
    total.append(b[1])
  elif c == "탕수육":
    total.append(b[2])
  elif c == "볶음밥":
    total.append(b[3])
  else:
    print("잘못된 주문입니다")

print(sum(total))

1번 학생의 주문 :1
잘못된 주문입니다
2번 학생의 주문 :2
3번 학생의 주문 :3
잘못된 주문입니다
잘못된 주문입니다
4번 학생의 주문 :4
잘못된 주문입니다
5번 학생의 주문 :5
잘못된 주문입니다
6번 학생의 주문 :3
잘못된 주문입니다
7번 학생의 주문 :1
잘못된 주문입니다
8번 학생의 주문 :짜장면
9번 학생의 주문 :4
잘못된 주문입니다
10번 학생의 주문 :13
잘못된 주문입니다
10000

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(딕셔러니를 활용해 문제 해결)

In [ ]:
for i in range(1,11):
  c=input(("{}번 학생의 주문 : ").format(i))
  if c=="짜장면":
    total.append(menu[c])
  elif c=="짬뽕":
    total.append(menu[c])
  elif c=="탕수육":
    total.append(menu[c])
  elif c=="볶음밥":
    total.append(menu[c])
  else:
    print("잘못된 주문입니다.")

print(("주문 메뉴의 총 합은 {}원 입니다.").format(sum(total)))

1번 학생의 주문 : 1
잘못된 주문입니다.
2번 학생의 주문 : 21
잘못된 주문입니다.
3번 학생의 주문 : 4124
잘못된 주문입니다.
4번 학생의 주문 : 짜장면
5번 학생의 주문 : 3
잘못된 주문입니다.
6번 학생의 주문 : 짬뽕
7번 학생의 주문 : 탕수육
8번 학생의 주문 : 볶음밥
9번 학생의 주문 : 짬뽕
10번 학생의 주문 : 34
잘못된 주문입니다.
주문 메뉴의 총 합은 73000원 입니다.

##while문을 사용해 1부터 10까지 프린트 하시오


*   i+=1 이 의미는 i에 +1을 해서 이것을 다시 i에 저장해준다는 뜻

In [ ]:
i = 0
while i <= 9:
  i +=1
  print(i)

1
2
3
4
5
6
7
8
9
10

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수이면 while문을 멈춰주세요

In [ ]:
i = 0
while i < 10:
  i+=1
  if i % 3 == 0:
    break 
  print(i)

1
2

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수가 아닌값만 프린트 하시오

In [ ]:
i = 0
while i < 10:
  i+=1
  if i % 3 == 0:
    continue
  print(i)

1
2
4
5
7
8
10

##리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 리스트에서 메뉴명과 금액을 각각 따로 빼서 menu, money의 이름을 가지는 리스트로 각각 만드시오

In [ ]:
a = ["라면",3000,"생수",2500,"과자",1500,"삼각김밥",1000] 
menu = []
money = []

for i in range(8):
  if i == 0:
    menu.append(a[i])
  elif i == 1:
    money.append(a[i])
  elif i >= 2 and i % 2 == 0:
    menu.append(a[i])
  elif i >= 3 and i % 2 == 1:
    money.append(a[i])

print(menu)
print(money)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

In [ ]:
a = ["라면",3000,"생수",2500,"과자",1500,"삼각김밥",1000] 
menu = []
money = []

for i in a:
  if type(i) == str:
    menu.append(i)
  else:
    money.append(i)

print(menu)
print(money)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##while, for, if문을 활용해 아래와 같은 결과가 나오도록 만드시오

In [ ]:
total = 0
while True:
  for i,j in zip(menu,money):
    print(f"{i} : {j}원")

  food = input("구매하고 싶은 품목을 선택하세요 : ")
  if food == "done":
    print(f"총 금액은 {total}")
    break
  for i in menu:
    if i == food:
      menu.index(food)
  print(f"{food} 의 가격은 {money[menu.index(food)]}원 입니다.")
  print("******************************************************")
  total += money[menu.index(food)]

라면 : 3000원
생수 : 2500원
과자 : 1500원
삼각김밥 : 1000원
구매하고 싶은 품목을 선택하세요 : 라면
라면 의 가격은 3000원 입니다.
******************************************************
라면 : 3000원
생수 : 2500원
과자 : 1500원
삼각김밥 : 1000원
구매하고 싶은 품목을 선택하세요 : 과자
과자 의 가격은 1500원 입니다.
******************************************************
라면 : 3000원
생수 : 2500원
과자 : 1500원
삼각김밥 : 1000원
구매하고 싶은 품목을 선택하세요 : 과자
과자 의 가격은 1500원 입니다.
******************************************************
라면 : 3000원
생수 : 2500원
과자 : 1500원
삼각김밥 : 1000원
구매하고 싶은 품목을 선택하세요 : done
총 금액은 6000