<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_01%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
a = ["독고영재, 50","김철수, 30"]

In [28]:
a[0][:a[0].index(",")]

'독고영재'

##변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [6]:
이름 = input()
학교 = input()
학과 = input()
print("이름 = {} 학교 = {} 학과 = {} ".format(이름,학교,학과))

sungil
kangwon
ai
이름 = sungil 학교 = kangwon 학과 = ai

##위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

##안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [31]:
a = "안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다."
a[-6:]

'반갑습니다.'

##위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [8]:
print("{}".format(학교))

kangwon

##주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [33]:
name = ["Jone-30","Park-30","Kim-20","Lee-10","Oh-32","Kang-25"]
name[3][:name[3].index("-")]

'Lee'

##20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [16]:
n = [20,50,76,10,59,22,40,50,77,52]
n

[20, 50, 76, 10, 59, 22, 40, 50, 77, 52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [17]:
n[0:4]

[20, 50, 76, 10]

##위에서 저장된 리스트에서 77만 print하시오

In [20]:
n[8]

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [25]:
n[-2:]

[77, 52]