<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EC%A0%9C%EC%96%B4%EB%AC%B8_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text=["김철수/20", "이철수/24", "김영희/21", "이영희/24", "김민준/35", "박민준/40", "김지영/34", "박지영/35"]

In [ ]:
a=[]
for i in text:
  strings = i.split('/')
  a.append(strings)
print(a)

[['김철수', '20'], ['이철수', '24'], ['김영희', '21'], ['이영희', '24'], ['김민준', '35'], ['박민준', '40'], ['김지영', '34'], ['박지영', '35']]

In [ ]:
for i in range(len(a)):
  print(("{}는 {}살이다.").format(a[i][0], a[i][1]))

김철수는 20살이다.
이철수는 24살이다.
김영희는 21살이다.
이영희는 24살이다.
김민준는 35살이다.
박민준는 40살이다.
김지영는 34살이다.
박지영는 35살이다.

In [ ]:
a

[['김철수', '20'],
 ['이철수', '24'],
 ['김영희', '21'],
 ['이영희', '24'],
 ['김민준', '35'],
 ['박민준', '40'],
 ['김지영', '34'],
 ['박지영', '35']]

##for문을 활용해 50 부터 83까지 print 하시오

In [ ]:
for i in range(50,84):
  print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83

##하나의 빈 리스트 a=[]를 만들고 1단 부터 9단까지의 구구단의 결과 값을 a라는 하나의 리스트에 저장하시오

In [ ]:
a=[]
for i in range(1,10):
  for j in range(1,10):
    a.append(i*j)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a=[]
for i in range(1,10):
    print("--------{}단--------".format(i))
    for j in range(1,10):
        print("구구단 : {} * {} = {}".format(i,j,i*j))
        a.append(i*j)

--------1단--------
구구단 : 1 * 1 = 1
구구단 : 1 * 2 = 2
구구단 : 1 * 3 = 3
구구단 : 1 * 4 = 4
구구단 : 1 * 5 = 5
구구단 : 1 * 6 = 6
구구단 : 1 * 7 = 7
구구단 : 1 * 8 = 8
구구단 : 1 * 9 = 9
--------2단--------
구구단 : 2 * 1 = 2
구구단 : 2 * 2 = 4
구구단 : 2 * 3 = 6
구구단 : 2 * 4 = 8
구구단 : 2 * 5 = 10
구구단 : 2 * 6 = 12
구구단 : 2 * 7 = 14
구구단 : 2 * 8 = 16
구구단 : 2 * 9 = 18
--------3단--------
구구단 : 3 * 1 = 3
구구단 : 3 * 2 = 6
구구단 : 3 * 3 = 9
구구단 : 3 * 4 = 12
구구단 : 3 * 5 = 15
구구단 : 3 * 6 = 18
구구단 : 3 * 7 = 21
구구단 : 3 * 8 = 24
구구단 : 3 * 9 = 27
--------4단--------
구구단 : 4 * 1 = 4
구구단 : 4 * 2 = 8
구구단 : 4 * 3 = 12
구구단 : 4 * 4 = 16
구구단 : 4 * 5 = 20
구구단 : 4 * 6 = 24
구구단 : 4 * 7 = 28
구구단 : 4 * 8 = 32
구구단 : 4 * 9 = 36
--------5단--------
구구단 : 5 * 1 = 5
구구단 : 5 * 2 = 10
구구단 : 5 * 3 = 15
구구단 : 5 * 4 = 20
구구단 : 5 * 5 = 25
구구단 : 5 * 6 = 30
구구단 : 5 * 7 = 35
구구단 : 5 * 8 = 40
구구단 : 5 * 9 = 45
--------6단--------
구구단 : 6 * 1 = 6
구구단 : 6 * 2 = 12
구구단 : 6 * 3 = 18
구구단 : 6 * 4 = 24
구구단 : 6 * 5 = 30
구구단 : 6 * 6 = 36
구구단 : 6 * 7 = 42
구구단 : 6 * 8 = 48
구구단 : 6 * 9 = 54
--------7단--------
구구단 : 7 * 1 = 7
구구단 : 7 * 2 = 14
구구단 : 7 * 3 = 21
구구단 : 7 * 4 = 28
구구단 : 7 * 5 = 35
구구단 : 7 * 6 = 42
구구단 : 7 * 7 = 49
구구단 : 7 * 8 = 56
구구단 : 7 * 9 = 63
--------8단--------
구구단 : 8 * 1 = 8
구구단 : 8 * 2 = 16
구구단 : 8 * 3 = 24
구구단 : 8 * 4 = 32
구구단 : 8 * 5 = 40
구구단 : 8 * 6 = 48
구구단 : 8 * 7 = 56
구구단 : 8 * 8 = 64
구구단 : 8 * 9 = 72
--------9단--------
구구단 : 9 * 1 = 9
구구단 : 9 * 2 = 18
구구단 : 9 * 3 = 27
구구단 : 9 * 4 = 36
구구단 : 9 * 5 = 45
구구단 : 9 * 6 = 54
구구단 : 9 * 7 = 63
구구단 : 9 * 8 = 72
구구단 : 9 * 9 = 81

##위에서 만들어진 a라는 리스트에서 최초의 64, 81이 속하는 위치값을 도출하시오

In [ ]:
a.index(64)

70

In [ ]:
a.index(81)

80

In [ ]:
a[70]

64

In [ ]:
a[80]

81

## 아이스크림의 이름과 가격을 딕셔너리 형태로 저장하시오
## 바밤바 : 1500원, 메로나 : 1500원, 붕어싸만코 : 2000원, 월드콘 : 3000원, 투게더 : 5000원

In [ ]:
i = {"바밤바" : "1500원", "메로나" : "1500원", "붕어싸만코" : "2000원", "월드콘" : "3000원", "투게더": "5000원"}

## 해당 딕셔너리에 월드콘을 삭제하고 쌍쌍바 : 2000원을 추가하시오

In [ ]:
del i["월드콘"]
i["쌍쌍바"] = "2000원"

In [ ]:
i

{'바밤바': '1500원',
 '메로나': '1500원',
 '붕어싸만코': '2000원',
 '투게더': '5000원',
 '쌍쌍바': '2000원'}

## for문을 활용해 1단부터 9단까지 곱한 결과를 나타낼때 아래의 리스트를 써서 표현하시오
## a=["1단","2단","3단","4단","5단","6단","7단","8단","9단"]

In [ ]:
a=["1단","2단","3단","4단","5단","6단","7단","8단","9단"]
for i in range(1,10):
  print(("------{}------").format(a[(i-1)]))
  for j in range(1,10):
    print("{}x{}={}".format(i,j,i*j))

------1단------
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
------2단------
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
------3단------
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
------4단------
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
------5단------
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
------6단------
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
------7단------
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
------8단------
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
------9단------
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81