<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_02%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##하나의 변수에 성명/전화번호 형식으로 저장하고 print하시오

In [ ]:
a= ["변성일/01049219601"]
print(a)

['변성일/01049219601']

##위에서 저장된 변수에서 전화번호 중간 번호 4자리만 print하시오

In [ ]:
a[0][7:11]

'4921'

##주어진 과일이름(사과, 포도, 복숭아, 참외, 수박, 바나나)에 대해 fruits란 리스트를 만들고 각각을 format을 활용해 print 하시오

In [ ]:
fruits = ["사과","포도","복숭아","참외","수박","바나나"]

##fruits에서 복숭아와 바나나 값을 제거하고 멜론과 파인애플을 추가하시오

In [ ]:
fruits.pop(2)
fruits.pop(4)
fruits.append("멜론")
fruits.append("파인애플")
fruits

['사과', '포도', '참외', '수박', '멜론', '파인애플']

##AI소프트웨어 학과 홈페이지를 들어가 교수님들의 연구실 위치를 키 값으로 하고 이에 대해 교수님들이름을 저장하고 Ai라고 변수명을 설정하시오

In [ ]:
Ai = {417: "유희경",514 : "황득영", 510 : "홍종성", 509 :"오형술", 507 : "장영관", 
      508 : "문성동", 515 : "윤인섭", 609 : "윤종철", 513 : "박은희", 506 : "이두호", 415 : "권세진", 416 : "이태민", 607 : "조기필", 516 : "김창균"}

##위의 문제에서 정의된 Ai변수에 명예교수님을 추가하시오 키값 없으므로 특정 번호로 추가

In [ ]:
Ai[555] = "명예"

In [ ]:
Ai

{417: '유희경',
 514: '황득영',
 510: '홍종성',
 509: '오형술',
 507: '장영관',
 508: '문성동',
 515: '윤인섭',
 609: '윤종철',
 513: '박은희',
 506: '이두호',
 415: '권세진',
 416: '이태민',
 607: '조기필',
 516: '김창균',
 555: '명예'}