<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1.cmd 창에서 AI란 이름의 가상환경을 만들고 python 3.6 version을 설치하는 명령어를 작성하시오. (5점)

##2.AI라는 가상환경 생성 후 주피터 노트북에 가상환경과 같은 이름의 커널을 생성하는 명령어를 작성하시오.(패키지 설치 명령어는 제외) (5점)

##3.input으로 아래의 문장형태에 맞게 해당 문제의 물음표에 하나의 정수값과 실수값을 입력후 format을 활용해 프린트 하시오.

- 철수의 100m 달리기 기록은 ? 초 이다. (5점) → 실수값


- 영희는 단체주문으로 햄버거 ?개를 주문했다. (5점) → 정수값

In [ ]:
a=float(input())
print(("철수의 100m 달리기 기록은{}초 이다.").format(a))

5
철수의 100m 달리기 기록은5.0초 이다.

In [ ]:
a=int(input())
print(("영희는 단체주문으로 햄버거{}개를 주문했다.").format(a))

7
영희는 단체주문으로 햄버거7개를 주문했다.

##4. 주어진 이름 Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오.(10 점)

In [ ]:
name=["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]

In [ ]:
for i in name:
  if "Lee" in i:
    print(i[:i.index("-")])

Lee

In [ ]:
name[3][:name[3].index("-")]

'Lee'

##5. 하나의 폴더에 아래와 같은 형식을 가진 파일들이 있다. 이때 아래의 파일들을 file이라는 이름의 리스트로 저장하고, jpg와 png의 파일형식을 가지는 파일들만 따로 뽑아 리스트로 프린트하시오 만약에 jpg와 png파일이 아닐 경우 아래와 같이 프린트하시오.(10 점)
- dog.png, dog2.png, dog3.jpg, test.pdf, file.py, homework.pptx, jpg.pptx, png2.pptx
- test.pdf은 jpg, png파일에 포함되지 않습니다.

In [ ]:
file=["dog.png", "dog2.png", "dog3.jpg", "test.pdf", "file.py", "homework.pptx", "jpg.pptx", "png2.pptx"]
a=[]
for i in file:
  if ".png" in i or ".jpg" in i:
    a.append(i)
  else:
    print(("{}은 jpg, png파일에 포함되지 않습니다.").format(i))

print(a)

test.pdf은 jpg, png파일에 포함되지 않습니다.
file.py은 jpg, png파일에 포함되지 않습니다.
homework.pptx은 jpg, png파일에 포함되지 않습니다.
jpg.pptx은 jpg, png파일에 포함되지 않습니다.
png2.pptx은 jpg, png파일에 포함되지 않습니다.
['dog.png', 'dog2.png', 'dog3.jpg']

##6. 아래와 같이 학생의 수를 입력했을때, 아래와 같은 결과가 나오도록 만드시오(for, if문) 사용

In [ ]:
num_students = int(input("학생의 수를 입력하세요 : "))

total_score = 0
highest_score = 0

for i in range(num_students):
    score = int(input("{}번 학생의 점수를 입력하세요 : ".format(i + 1)))
    total_score += score
    if score > highest_score:
        highest_score = score

average_score = total_score / num_students

학생의 수를 입력하세요 : 5
1번 학생의 점수를 입력하세요 : 50
2번 학생의 점수를 입력하세요 : 60
3번 학생의 점수를 입력하세요 : 70
4번 학생의 점수를 입력하세요 : 80
5번 학생의 점수를 입력하세요 : 90

In [ ]:
print("학생들의 점수 평균 : {:.2f}".format(average_score))
print("학생들중 최고 득점 점수 : {}".format(highest_score))

##7.while문을 사용해 1부터 100까지 프린트 하시오 이때 i가 10의 배수에 해당되지 않는 값만 하나의 리스트에 저장하고 그 값들의 합을 구하시오

In [ ]:
i=0
t=[]
while i<100:
  i+=1
  if i%10==0:
    continue
  else:
    t.append(i)

In [ ]:
sum(t)

4500

##8.아이스크림의 이름과 가격을 딕셔너리 형태로 저장하시오
바밤바 : 1500원, 메로나 : 1500원, 붕어싸만코 : 2000원, 월드콘 : 3000원, 투게더 : 5000원

In [ ]:
ice={"바밤바" : "1500원", "메로나" : "1500원", "붕어싸만코" : "2000원", "월드콘" : "3000원", "투게더" : "5000원"}

In [ ]:
ice["붕어싸만코"]

'2000원'

In [ ]:
del ice["투게더"]

In [ ]:
ice["비비빅"] ="2000원"

In [ ]:
for i, j in ice.items():
  print(i,j)

바밤바 1500원
메로나 1500원
붕어싸만코 2000원
월드콘 3000원
비비빅 2000원

In [ ]:
b=[]
for i in ice.values():
  t=i.replace("원", "")
  b.append(t)

##9. 아래와 같은 모양을 만드시오 (5점)

In [ ]:
for i in range(1, 10):
  print("*"*i)

##10. 피타고라스의 정리를 함수로 만드시오

In [ ]:
def calculate_hypotenuse(a, b):
    a_square = a ** 2
    b_square = b ** 2

    hypotenuse = (a_square + b_square) ** 0.5

    return hypotenuse

In [ ]:
def greet_user(time):
  if time >= 0 and time < 12:
    print("아침입니다.")
  elif time >= 12 and time < 18:
    print("오후 입니다.")
  elif time >= 18 and time <= 24:
    print("저녁 입니다.")
  else:
    print("잘못된 시간입니다.")

hour = int(input("시간을 입력해주세요 : "))

greet_user(hour)

시간을 입력해주세요 : 20
저녁 입니다.