<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_2023_05_19_%EC%88%98%EC%97%85%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 특정 문장을 입력했을때, 아래와 같은 결과가 나오게 만드시오(모음 : a, e, i, o, u)
(6줄 이하)

ai class is so much fun
모음의 수는 : 7개

In [ ]:
a = input()
n = 0
for i in a:
    if "a" in i or "e" in i or "i" in i or "o" in i or "u" in i:
        n += 1
print(f"{a} 모음의 수는 : {n}개")

ai class is so much fun
ai class is so much fun 모음의 수는 : 7개

# 2000, 2021, 2100, 2024, 1996의 값을 하나의 리스트로 만들고 윤년일 경우와 아닐경우를 아래와 같이 나타내시오 (4로 나누어 떨어지거나, 100으로 나누어 떨어지거나, 400으로 나누어 떨어지는 년도)
(6줄 이하)

In [ ]:
  year = [2000, 2021, 2100, 2024, 1996]
for i in year:
    if i % 4 == 0 or i % 100 == 0 or i % 400 == 0:
        print(f"{i}는 윤년입니다.")
    else:
        print(f"{i}는 윤년이 아닙니다.")

2000는 윤년입니다.
2021는 윤년이 아닙니다.
2100는 윤년입니다.
2024는 윤년입니다.
1996는 윤년입니다.

# 아래와 같은 코드를 작성하시오 
(6줄 이하)

In [ ]:
five = []
for i in range(0, 10):
    num = int(input("정수를 입력하세요 : "))
    if num % 5 == 0:
        five.append(num)
print(f"5의 배수의 리스트는 : {five}입니다.")

정수를 입력하세요 : 5
정수를 입력하세요 : 20
정수를 입력하세요 : 31
정수를 입력하세요 : 50
정수를 입력하세요 : 100
정수를 입력하세요 : 70
정수를 입력하세요 : 80
정수를 입력하세요 : 90
정수를 입력하세요 : 22
정수를 입력하세요 : 447
5의 배수의 리스트는 : [5, 20, 50, 100, 70, 80, 90]입니다.

정수를 입력하세요 : 5
정수를 입력하세요 : 20
정수를 입력하세요 : 31
정수를 입력하세요 : 50
정수를 입력하세요 : 100
정수를 입력하세요 : 70
정수를 입력하세요 : 80
정수를 입력하세요 : 90
정수를 입력하세요 : 22
정수를 입력하세요 : 447
5의 배수의 리스트는 : [5, 20, 50, 100, 70, 80, 90] 입니다.

# 리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 아래와 같이 나타내시오
(10줄 이하) for문 if문 무조껀 사용

In [ ]:
menu = ["라면", 3000, "생수", 2500, "과자", 1500, "삼각김밥", 1000]
name = []
price = []
for i in menu:
    if type(i) == str:
        name.append(i)
    else:
        price.append(i)
print(name)
print(price)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

## 1번의 딕셔너리 값을 2번 값으로 변경하시오
단 새로운 딕셔너리를 만들어서 변경할순없다.

In [ ]:
info = {"name" : "John", "age" : 20, "grade" : "A"}
info

{'name': 'John', 'age': 20, 'grade': 'A'}

In [ ]:
  info["age"] = 21
del info["grade"]
info["city"] =  "New York"
info

{'name': 'John', 'age': 21, 'city': 'New York'}

In [ ]:
age

{'name': 'John', 'age': 21, 'city': 'New York'}