<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_0%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##name과 age 변수를 만들어 print와 format을 활용해 name 변수에는 이름, age변수에는 나이를 입력해 결과를 프린트 하시오

In [ ]:
name=input()
age=int(input())

변성일
25

In [ ]:
print(("이름 : {}, 나이 : {}").format(name, age))

이름 : 변성일, 나이 : 25

##1단 부터 9단까지 구구단을 만드시오

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    print("{} * {} = {}".format(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

##exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]을 리스트로 변환하고 90점 이상 A 80점 이상 90점 미만B, 70점 이상 80점 미만을 C 60점 이상 70점 미만은 D 이외는 F로 아래와 같이 나타내시오

In [ ]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
for i in exam:
  if i >= 90:
    print("A")
  elif i >= 80:
      print("B")
  elif i >=70:
        print("C")
  elif i >=60:
          print("D")
  else:
            print("F")

D
B
A
D
A
B
B
D
C
D
C
A
A

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

In [ ]:
order = int(input())
if order > 10000:
  print("구매가능")
else:
  print("구매 불가능")

10001
구매가능

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

당신은 13000원이 있으므로 1개 구매가능

In [ ]:
order = int(input())
if order > 10000:
  print("당신은 {}원이 있으므로 {}개 구매가능".format(order,order//10000))
else:
  print("구매 불가능")

13000
당신은 13000원이 있으므로 1개 구매가능

##저는 .. 학과이고 이름은 .. 저의 나이는 ... 이고 저의 키는 ...입니다.

In [ ]:
a = input()
b = input()
c = int(input())
d = int(input())
print(f"저는 {a}학과이고 이름은{b} 저의 나이는 {c}이고 저의 키는 {d} 입니다.")

ai소프트웨어
변성일
25
177
저는 ai소프트웨어학과이고 이름은변성일 저의 나이는 25이고 저의 키는 177 입니다.

##한 학생의 시험 점수는 다음과 같다. grades=[85, 90, 92, 78, 80, 95]이때 모든 점수의 합의 평균이 85점이 넘을때 시험에 합격했습니다.라는 문구를 넣어서 print해줘

In [ ]:
grades=[85, 90, 92, 78, 80, 95]

In [ ]:
aver = sum(grades)/6

In [ ]:
if aver > 85:
  print("시험에 합격했습니다.")
else:
  print("시험에 불합격했습니다.")

시험에 합격했습니다.